* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}


.navigation {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    padding-top: 3%;

.header-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 100%;
    text-align: center;
    
    h2 {
        font-weight: normal;
        font-size: 40px;
        margin-bottom: 30px;
        font-style: italic;
    }

    h1 {
        font-size: 80px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    a{
        display: inline-block;
        border: 1px solid #efc330;
        background-color: #efc330;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 18px;
        padding: 20px 50px;
        border-radius: 5px;
        font-weight: bold;
    }
}
}

.navigation .col-2 {
    text-align: right;

    a{
    text-decoration: none;
    color: #f0bd0e;
    font-size: 20px;
    }
}

.navigation ul {
    display: flex;
    justify-content: end;
    margin-right: 10%;

    li {
    padding: 0 20px;
    list-style-type: none;

    a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    }
    }
}