* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
  padding-top: 3%;

  .header-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 100%;
    text-align: center;

    h2 {
      font-weight: normal;
      font-size: 40px;
      margin-bottom: 30px;
      font-style: italic;
      font-family: "Times New Roman", Times, serif;
    }

    h1 {
      font-size: 80px;
      text-transform: uppercase;
      margin-bottom: 50px;
    }

    a {
      display: inline-block;
      border: 1px solid #efc330;
      background-color: #efc330;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 18px;
      padding: 20px 50px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: lightgray;
      }
    }
  }
}

.navigation .col-2 {
  text-align: right;

  a {
    text-decoration: none;
    color: #f0bd0e;
    font-size: 28px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    // font-weight: <weight>;
    font-style: normal;
  }
}

.navigation ul {
  margin-right: 10%;

  li {
    padding: 0 20px;
    list-style-type: none;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      color: #ffffff;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: lightgray;
      }
    }
  }
}

.services {
  padding: 100px 160px;

  .services-title {
    text-align: center;
    margin-bottom: 200px;

    h3 {
      font-size: 38px;
      text-transform: uppercase;
      letter-spacing: -0.5px;
      margin-bottom: 10px;
    }

    p {
      font-style: italic;
      color: #636e72;
      font-family: "Times New Roman", Times, serif;
      font-size: 18px;
    }
  }
}

.services .col-md-4 {
  position: relative;

  .service-image {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }

  .service-description {
    text-align: center;

    p {
      padding: 0 20px;
      line-height: 26px;
      color: #636e72;
      font-family: "Times New Roman", Times, serif;
    }

    h5 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}

.portfolio {
  padding: 100px 0;
  background-color: #f1f2f6;

  .portfolio-title {
    text-align: center;
    margin-bottom: 100px;

    h3 {
      font-size: 38px;
      text-transform: uppercase;
      letter-spacing: -0.5px;
      margin-bottom: 10px;
    }

    p {
      font-style: italic;
      color: #636e72;
      font-size: 18px;
      font-family: "Times New Roman", Times, serif;
    }
  }

  .col-md-4 {
    margin-bottom: 40px;

    .portfolio-image {
      width: 350px;
      height: 400px;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .portfolio-description {
      background-color: #fff;
      text-align: center;
      padding: 20px 0;

      h5 {
        font-size: 18px;
      }

      p {
        color: #636e72;
        font-style: italic;
        font-size: 16px;
        font-family: "Times New Roman", Times, serif;
      }
    }
  }
}

footer {
  position: relative;
  margin: 50px 0;

  .footer-copyright {
    margin-left: 200px;

    p {
      font-size: 14px;
    }
  }

  .footer-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
      color: #fff;
      font-size: 0;

      i {
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        border: 1px solid black;
        background-color: black;
        color: #fff;
        border-radius: 50%;
        margin: 0 5px;

        &:hover {
          background-color: #fff;
          color: black;
          border-color: #fff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navigation .header-text {
    h2 {
      font-size: 20px;
    }

    h1 {
      font-size: 40px;
    }

    a {
      transform: scale(0.5);
    }
  }

  .services {
    padding: 20px;

    .services-title {
      margin-bottom: 20px;
    }

    .col-md-4 {
      flex-direction: column;

      .service-image {
        position: relative;
        text-align: center;
        bottom: 0;
        transform: translateX(0);
        left: 0;
      }

      .service-description {
        p {
          padding: 0;
        }
      }
    }
  }

  footer {
    margin: 0;

    .footer-copyright {
      text-align: center;
      margin: 0;
    }

    .footer-icons {
      position: relative;
      text-align: center;
      margin-top: 30px;

      i {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .portfolio .col-md-4 {
    flex: 50%;

    .portfolio-image {
      width: 100%;
    }

    .portfolio-description {
      width: 100%;
    }
  }

  footer {
    margin: 10px 0;

    .footer-copyright {
      text-align: center;
      margin: 0;
    }

    .footer-icons {
      position: relative;
      text-align: center;
      margin-top: 60px;
    }
  }

  .services {
    padding: 50px 80px;

    .col-md-4 {
      .service-description {
        p {
          padding: 0;
        }
      }
    }
  }
}
